<% colors = ['#F44336', '#03A9F4', '#4CAF50', '#E64A19', '#7E57C2', '#009688'].cycle %>
<% @notification.each do |notification| %>
  <% color = colors.next %>
  <style type="text/css">
    .notifications tr.notification-<%= notification.id %> td {
      background-color: <%= color %>;
    }

    .notifications tr.notification-<%= notification.id %> td a {
      color: <%= color %>;
    }
  </style>
  <tr class="notification notification-<%= notification.id %>">
    <td>
      <%= raw notification.body %>
    </td>
  </tr>
  <tr class="spacer"></tr>
<% end %>
